body{
    text-align: center;
    font-family: 'Comic Neue', cursive;
    background:darkred;
 }
 .header_div{
   background:darkslateblue;
   color: red;
 }
 .header_div p{
   font-family:"roboto",sans-serif;
   color: lightslategrey;
   letter-spacing: 2px;
   font-size: 12px;
   font-weight: bold;
 }
 .main_div button{
   font-family: "roboto",sans-serif;
   margin-top: 20px;
   width: 120px;
   font-weight: bolder; 
   letter-spacing: 3px;
 }
 .footer{
   position: fixed;
   color: gray;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #f5f5f5;
   line-height: 3;
   text-align: center;
   text-shadow:5px 5px 5px rgb(151,149,149) ;
 }